*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    position: relative;
    width: 100%;
    background-image: url("https://i.pinimg.com/originals/46/65/b7/4665b7e99fac93b90f2966de29076653.jpg");
}
#mainoverlay{
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.484);
}
*::-webkit-scrollbar{
    display: none;
}
.nm{
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    font-family: "Voyage";
    font-weight: 500;
}
#page0{
    width: 100vw;
    height: 100vh;
    position: relative;
    /* background-image: url("https://i.pinimg.com/564x/31/0c/63/310c63454e892ccb35941c79d648951e.jpg"); */
    background-size: cover;
    background-position: center;
}
#page1{
    width: 100vw;
    height: 100vh;
    position: relative;
    margin-top: 3%;
    /* background-image: url("https://i.pinimg.com/564x/43/80/3a/43803aa7b9603ee9157740c02c024dc8.jpg"); */
    background-size: cover;
    background-position: center;
}
#page2{
    width: 100vw;
    height: 100vh;
    position: relative;
    margin-top: 3%;
    /* background-image: url("https://i.pinimg.com/564x/43/80/3a/43803aa7b9603ee9157740c02c024dc8.jpg"); */
    /* background-image: url("https://images.unsplash.com/photo-1568431040891-ceb87c9847ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1947&q=80"); */
    background-size: cover;
    background-position: center;
}
#page3{
    width: 100vw;
    height: 100vh;
    position: relative;
    margin-top: 3%;
    /* background-image: url("https://i.pinimg.com/564x/43/80/3a/43803aa7b9603ee9157740c02c024dc8.jpg"); */
    /* background-image: url("https://images.unsplash.com/photo-1568431040891-ceb87c9847ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1947&q=80"); */
    background-size: cover;
    background-position: center;
}
#page4{
    width: 100vw;
    height: 100vh;
    position: relative;
    margin-top: 3%;
    /* background-image: url("https://i.pinimg.com/564x/43/80/3a/43803aa7b9603ee9157740c02c024dc8.jpg"); */
    /* background-image: url("https://images.unsplash.com/photo-1568431040891-ceb87c9847ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1947&q=80"); */
    background-size: cover;
    background-position: center;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.588);
    position: relative;
}

#page0 #name{
    position: absolute;
    top: 30px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#page0 #name h1{
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    font-family: "Voyage";
    font-weight: 500;
}
#page0 #name i{
    font-size: 30px;
    color: white;
    font-family: "Voyage";
}
#page0 #icons{
    position: absolute;
    width: 30px;
    top: 50%;
    transform: translate(0%, -50%);
    left: 20px;
}
#page0 #icons i{
    font-size: 30px;
    color: white;
    /* position: relative; */
    display: inline-block;
    margin-top: 10px;
}

#profession{
    font-size: 40px;
    color: white;
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%,-30%);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    font-family: gilroy;
    justify-content: center;
}

#profession h2{
    letter-spacing: 20px;
    font-size: 38px;
}

#profession #position h1{
    padding-top: 20vh;
    font-size: 30px;
    font-weight: 400;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    white-space: nowrap;
    letter-spacing: 2px;
    opacity: .6;
}

#scroll{
    font-size: 25px;
    font-family: voyage;
    color: white;
    display: flex;
    position: absolute;
    gap: 10px;
    rotate: 90deg;
    top: 50%;
    right: -4%;
    text-transform: uppercase;
    word-spacing: 8px;
}
#scroll i{
    position: relative;
    padding-top: 5px;
}

#card{
    width: 17vw;
    height: 55vh;
    background-image: url("https://images.unsplash.com/photo-1637875865830-9b02491c1a7d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1904&q=80");
    background-size: cover;
    background-position: center;
    position:absolute;
    top: 50%;
    left: 15%;
    z-index: 9;
}
#card #overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.748);
}

#card #nav-bar{
    display: flex;
    align-items: center;
    gap: 30px;
    text-transform: uppercase;
    font-family: gilroy;
    width: 90%;
    position: relative;
    left: 5%;
    top: 3%;
    color: white;
}
#card #namec{
    color: white;
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 4px;
}
#card #namec i{
    font-size: 20px;
}
#card #professionc{
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 10%;
}

#professionc h1{
    font-size: 40px;
}
#professionc h2{
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 6px;
    padding-left: 10px;
}
#professionc #positionc h1{
    letter-spacing: 1px;
    font-size: 15px;
    opacity: .6;
}
#card #iconsc{
    position: absolute;
    color: white;
    width: 30px;
    top: 50%;
    transform: translate(0%, -20%);
    left: 10px;
    font-size: 20px;
}

#scrollc{
    font-size: 15px;
    font-family: voyage;
    color: white;
    display: flex;
    position: absolute;
    gap: 10px;
    rotate: 90deg;
    top: 80%;
    right: -20%;
    text-transform: uppercase;
    word-spacing: 8px;
}

#card #zero{
    position: absolute;
    color: white;
    font-size: 20px;
    bottom: 4%;
    left: 10px;
    font-family: "Gilroy";
}
#zero #line{
    position: relative;
    height: 2px;
    background-color: white;
}

.tp-nav{
    display: flex;
    justify-content: space-between;
    width: 94%;
    position:relative;
    left: 3%;
    top: 2%;
}
.nm{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 20px;
    color: white;
}
.tp-nav i{
    font-size: 40px;
    color: white;
}
.nr{
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
}

.pro{
    color: white;
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%,-30%);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    font-family: gilroy;
    justify-content: center;
}
.pro h1{
    font-size: 80px;
    letter-spacing: 10px;
}
.pro h2{
    letter-spacing: 27px;
    font-size: 38px;
    padding-left: 4px;
}
.pro h3{

    font-size: 30px;
    letter-spacing: 3px;
    word-spacing: 8px;
}
.ps1{
    font-size: 25px;
    font-family: voyage;
    color: white;
    display: flex;
    position: absolute;
    gap: 10px;
    rotate: 90deg;
    bottom: 13%;
    right: -3%;
    text-transform: uppercase;
    word-spacing: 8px;
}
.ps1 i{
    position: relative;
    padding-top: 5px;
}
.icn{
    position: absolute;
    width: 30px;
    top: 50%;
    transform: translate(0%, -50%);
    left: 3%;
}
.icn i{
    font-size: 30px;
    color: white;
    /* position: relative; */
    display: inline-block;
    margin-top: 10px;
}
.ps2{
    position: absolute;
    color: white;
    font-size: 40px;
    bottom: 4%;
    left: 3%;
    font-family: "Gilroy";
}
.ln{
    position: relative;
    height: 2px;
    background-color: white;
}

#ab{
    opacity: .5; 
}

#skills{
    width: 45vw;
    height: 40vh;
    position: absolute;
    left: 12%;
    top: 28%;
    color: white;
}
#skills h1{
    font-size: 40px;
    text-transform: uppercase;
    font-family: "Gilroy";
    white-space: nowrap;
}
#skills p{
    font-size: 13px;
}
#skills h3{
    font-size: 20px;
    font-family: "DS-digital";
}
#langual{
    margin: 10% 0%;
}
.html{
    margin-top: 20px;
}
.line{
    display: flex;
    width: 100%;
    align-items: center;
    gap : 30px;
}
.lnn{
    width: 90%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.474);
}
#html5{
    width: 95%;
    height: 4px;
    background-color: white;
}
#cs{
    width: 92%;
    height: 4px;
    background-color: white;
}
#js{
    width: 90%;
    height: 4px;
    background-color: white;
}

#mainbox{
    width: 80vw;
    height: 70vh;
    position: absolute;
    left : 10%;
    top : 13%;
}

#mainbox #box1{
    width: 100%;
    height: 45%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#box1 #boxA{
    width: 30%;
    height: 100%;
    background-color: rgb(177, 240, 239);
    border-radius: 8%;
}
#box1 #boxB{
    width: 30%;
    height: 100%;
    background-color: rgb(201, 174, 228);
    border-radius: 8%;
}
#box1 #boxC{
    width: 30%;
    height: 100%;
    background-color: rgb(240, 178, 178);
    border-radius: 8%;
}
#mainbox #box2{
    width: 100%;
    height: 45%;
    position : relative;
    top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#box2 #boxX{
    width: 30%;
    height: 100%;
    background-color: rgb(221, 241, 180);
    border-radius: 8%;
}
#box2 #boxY{
    width: 30%;
    height: 100%;
    background-color: rgb(176, 231, 185);
    border-radius: 8%;
}
#box2 #boxZ{
    width: 30%;
    height: 100%;
    background-color: rgb(174, 170, 224);
    border-radius: 8%;
}

#mainbox2{
    width: 73vw;
    height: 70vh;
    display: flex;
    position: absolute;
    left : 15%;
    top : 13%;
}
#boxleft{
    width: 50%;
    height: 100%;
}

#boxright{
    width: 50%;
    height: 100%;
}

#charli{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;
    gap : 20px;
}
#charli h1{
    font-size: 40px;
    color : white;
    text-transform : uppercase;
}
#charli #ldiv{
    width: 80%;
    height: 2px;
    background-color: white;
}

#delta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 40px;
}

#info{
    display: flex;
    align-items: center;
    width: 90%;
    gap: 66px;
}
#info i{
    font-size: 30px;
}
#info a{
    font-size: 30px;
    color: white;
}
#number{
    display: flex;
    align-items: center;
    width: 90%;
    gap : 60px;
}
#number i{
    font-size: 30px;
}
#number h3{
    font-size: 30px;
    color: white;
}
#location{
    display: flex;
    align-items: center;
    gap: 60px;
    width: 90%;
}
#location i{
    font-size: 30px;
}
#location h3{
    font-size: 30px;
    color: white;
}
#r{
    transform: translate(0%,3px) rotate(-90deg);
}

#boxright{
    display : flex;
    flex-direction : column;
    gap : 40px;
    align-items : center;
    padding-top: 40px;
}

#email{
    width: 90%;
    height: 40px;
    background-color: white;
    border-radius: 50px;
}
#boxright h3{
    font-size: 20px;
    color : rgba(125, 41, 41, 0.3);
   margin-top: 10px;
   margin-left: 10px;
}

#nam{
    width: 90%;
    height: 40px;
    background-color: white;
    border-radius: 50px;
}

#message{
    width: 90%;
    height: 40%;
    background-color: white;
    border-radius: 10px;
}

#pic1{
    width: 44vw;
    height: 70vh;
    position: absolute;
    top: 20%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items:  center;
}
#pic2{
    width: 44vw;
    height: 70vh;
    position: absolute;
    top: 15%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items:  center;
}
#image1{
    width: 80%;
    height: 80%;
    background-position: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 93%, 0 93%);
    clip-path: polygon(0 0, 100% 0, 100% 93%, 0 93%);
}
#image1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cc{
    display : flex;
    justify-content: center;
    align-items: center;
}
.cc h1{
    font-size: 30px;
    text-transform: uppercase;
    color : white;
}